.portfolio{
    height: 870px;
    background-color: #2d303a;
    box-shadow: inset 0 -6px #323746;
}
.portfolio_content{
    width: 1020px;
    height: 870px;
    margin: auto;
    box-shadow: inset 0 -6px #323746;
}
.portfolio_logo{
    width: 120px;
    height: 22px;
    padding-left: 41px;
    padding-top: 68px;
}
.portfolio_logo h1{
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato Bold";
    text-align: left;
    letter-spacing: 0.5px;
}
.portfolio_logo_text{
    padding-top: 24px;
    padding-left: 41px;
    height: 13px;
}
.portfolio_logo_text p{
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato Regular";
    text-align: left;
    word-spacing: -0.2px;
    letter-spacing: -0.3px;
}
.portfolio_navbar{
    padding-top: 28px;
    padding-left: 41px;
    height: 22px;
    width: 287px;
    display: flex;
    justify-content: space-between;
}
.portfolio_navbar :hover{
    color: #dedede;
    border-color: #dedede;
}
.portfolio_navbar div{
    border: 0.5px solid #767e9e;
    border-radius: 5px;
}
.portfolio_navbar p{
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato Regular";
    text-align: center;
}
#portfolio--all{
    width: 27px;
}
#portfolio--web_design{
    width: 77px;    
}
#portfolio--graphic_design{
    width: 91px;
}
#portfolio--artwork{
    width: 55px;
}
.portfolio_pics{
    width: 940px;
    height: 600px;
    margin: 19px 40px 0px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.portfolio_pics_imgs{
    margin-bottom: 20px;
    width: 220px;
    height: 187px;
}
