@font-face{
    font-family: "Lato Regular";
    src: url(./assets/fonts/Lato-Regular.ttf);
}
@font-face{
    font-family: "Lato Bold";
    src: url(./assets/fonts/Lato-Bold.ttf);
}
@font-face{
    font-family: "Lato Medium";
    src: url(./assets/fonts/Lato-Medium.ttf);
}
.header{
    background-color: #2d303a;
    height: 95px;
    position: relative;
}
.last_line{
    height: 6px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left:0px;
    background-color:#323746;
}
.header_content{
    width: 1020px;
    height: 95px;
    margin: auto;
}
.logo{
    display: flex;
    float: left;
    margin-top: 41px;
    margin-left: 40px;
    
}
.singolo_text{
    font-size: 25px;
    line-height: 6px;
    font-family: 'Lato Medium';    
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: -0.3px;
       
    
}
.star{
    color: #d6645e;
}
.navbar_content{
    float:right;
    display: flex;
    margin-right: 26px;
    margin-top: 32px;
}
.header-list_element{
    font-size: 12px;
    line-height: 6px;
    font-family: 'Lato Regular';
    font-weight: 500;    
    text-transform: uppercase;
    color: #ffffff;
    padding:15px;
    letter-spacing: -0.15px;
    text-decoration: none;
}
.header-list_element:hover{
    color: #f06c64;
}
.header-list_element::after{
    content: '';
    background-color: #494e62;
    width: 2px;
    height: 2px;
    position: absolute;
    margin-left: 15px;
    margin-top:1px;
}
.header-list_element:last-child::after{
    display: none;
}
.slider{
    background-color: #f06c64;
    height: 600px;
}
.slider_content{
    width: 1020px;
    height: 600px;
    margin: auto;
    background-color: b#f06c64;
}
.left_arrow{
    height: 27px;
    width: 16px;
    float: left;
    margin-top: 281px;
    margin-left: 42px;
   
}
.right_arrow{
    height: 27px;
    width: 16px;
    float: right;
    margin-top: 281px;
    margin-right: 40px;
}
.right_arrow_image{
    transform: scale(-1, 1);
}
.left_arrow_image:hover{
    transform: scale(1.5);
}
.right_arrow_image:hover{
    transform: scale(1.5) scale(-1, 1);
}
.vertical_phone{
    width: 240px;
    height: 483px;    
    float: left;
    margin-top: 53px;
    margin-left: 54px;    
}
.horizontal_phone{
    height: 240px;
    width: 483px;
    float: left;
    margin-top: 174px;
    margin-left: 73px;
}

